h1, h3{
    text-align: center;
    
}
h1, .container-products{
    margin-top: 3%;
}

.filter-icons{
    display: flex;
    width: fit-content;
    margin-left: auto;
    gap: 7px;
    
}
.filter-icons div{
    background-color: #f9fafb;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .2s ;
}

.filter-icons div:hover{
    background-color: #dedede;
    transform: scale(1.08);
}

.filter-input{
    display: flex;
    width: fit-content;
     margin-top: 20px;
    margin-left: auto;
    gap: 15px;
    position: relative;
    right: 0; 
}

input{
    width: 5vw;
}

#buttonFilter{
    background-color: #f9fafb;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .2s ;
}

#buttonFilter:hover{
    background-color: #dedede;
    transform: scale(1.08);
}

#buttonClear{
    background-color: #f9fafb;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .2s ;
}
#buttonClear:hover{
    background-color: #fbdada;
    transform: scale(1.08);
}

.container-search{
    text-align: center;
}

.search{
    width: 30%;

}

.container-search button{
    background-color: #f9fafb;
    padding: 5px 10px;
    
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .2s ;
}

.container-search button:hover{
    background-color: #dedede;
    transform: scale(1.08);
}